table {
	width: 600px; /* un ancho de 600 pixeles */
	margin: auto; /* para centrarlo */
}

th {
	background: #d94a38; /* de un color rojo */
	color: #fff; /* color del texto en blanco */
	padding: 10px 20px; /* un relleno de 10 pixeles arriba y 20 pixeles a los costados */
}

td {
	border-bottom: 1px solid #ccc; /* un borde de 1 pixel de tipo solido y de color gris */
	text-align: center; /* para que se centre */
	padding: 10px 20px 0; /* para el espacio de arriba 10 pixeles, a los costados de 20 pixeles y abajo de cero*/
}

tbody tr:nth-child(even) {
	background: #eee; /* de un color gris */
}

tfoot td {
	background: #666;/* de un color gris */
	color: #fff; /* de un color blanco al texto */
	padding-bottom: 10px; /* para un relleno abajo de 10 pixeles */
	border-radius: 0 0 10px 10px; /* esquina superior izquierda y derecha sin bordes, esquina inferior derecha de 10 pixeles y esquina inferior izquierda de 10 pixeles */
}

caption {
	background: #666;/* de un color gris */
	color: #fff; /* de un color blanco al texto */
	padding: 10px; /* relleno de 10 pixeles */
	border-radius: 10px 10px 0 0; /* los bordes de los cuatro lados */
}